.Indihome
{
    margin: 40px 0;
}
.Indiheme
{
    text-align:center;color:#04AA6D;font-size:32px;
}
.he
{
    text-align:center;font-size:18px;
}
.Ok
{
    padding:80px 0px;width:100%;background-color:#282A35;color:white; margin: 16px 0;
}
.Ko
{
    float:left;width:50%;text-align:center;
}
.Mi
{
    font-size:100px;
}
.Lol
{
    font-size:20px;margin-bottom:30px;
}
.Po
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:#04AA6D;color:white;font-size:18px;margin:auto;
    display:block;width:200px;border-radius:25px;font-weight:700;margin-bottom: 20px;
}
.To
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:white;color:black;font-size:18px;margin:auto;
    display:block;width:200px;border-radius:25px;font-weight:700;
}
.Pi
{
    float:left;width:50%;text-align:center;
}
.Li
{
    width:450px;
}
.Ti
{
    padding:80px 0px;width:100%;background-color:#D9EEE1;color:black; margin: 16px 0;
}
.Tu
{
    float:left;width:50%;text-align:center;
}
.Gilbert
{
    font-size:100px;
}
.Tolol
{
    font-size:20px;margin-bottom:30px;
}
.Tilil
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:#04AA6D;color:white;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;margin-bottom: 20px;
}
.Capek
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:black;color:white;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;
}
.Dahlah
{
    text-align: center;background-color:#282A35;color:white;padding: 40px 0;
}